.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
}

.foodApp_searchForm {
  margin-top: 20px;
}

.foodApp_input {
  padding: 8px 20px;
  min-width: 200px;
  font-size: 15px;
}

.foodApp_submit {
  padding: 8px 20px;
  font-size: 15px;
  margin-left: 5px;
}

.foodApp_recipes {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 230px 230px;
  align-items: baseline;
}
.foodApp_healthLabels {
  padding: 8px 8px;
  margin-left: 8px;
  border-radius: 4px;
}
